@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, friend this is examples of blazor wasm!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h1>this without prameter</h1>
<Counter />

<h1>this wiht prameter</h1>
<Counter IncrementAmount="10" />